<%= render "shared/flash"%>
<%= render "shared/errors"%>
<h1>New Article</h1>

<%= render 'form', article: @article %>

<div class="col-xs-4 col-xs-offset-6 ">
  <%= link_to 'Cancel and go back', articles_path, class: "btn btn-warning" %>
</div>