<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |key,msg| %>
      <div class='alert alert-<%= "#{key}" %>' role="alert"><%= msg %></div>

      <% #content_tag :div, msg, :id => "flash_#{msg}" %>
    <% end %>
  </div>
</div>
